
.appMain {
	background-color: white;
	margin: auto;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Courier New', Courier, monospace;
}

#contLetras {
	background-color: white;
}


#speedContainer {
	font-weight: bold;
	font-size: 1.3em;
	display: flex;
	flex-direction: column;
}
#speedContainer input {
	border: 5px solid black;
	text-align: center;
	border-radius: 5px;
}

h1 {
	font-weight: bold;
	font-size: 12em;
	text-align: center;
	color: black;
}

@media (max-width: 1200px) {
	h1 {font-size: 7em;}
}

@media (max-width: 700px) {
	h1 {font-size: 5em;}
}
	

.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.yellow { color: #ffe500; }
.black { color: black; }
.violet {color: rgb(100, 13, 187);}
.orange {color: orange;}

.hidden {
	visibility: hidden;
}

.start, .stop {
	margin: 1em;
}

.btns {
	display: flex;
	background-color: white;
	justify-content: space-around;

}

img {width: 10vw;
	border: 3px solid black;
	border-radius: 50%;
}

#instrucciones {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}